/*---CSS de base---*/
:root {
    --noir: #403c3c;
    --blanc: #FFF9F3;
}
body {
    margin: 0px;
    font-family: sans-serif;
    display: flex;
    flex-direction: column;
    min-height: 100vh;
    background-color: var(--blanc);
    color: var(--noir);
}
main {
    flex: 1;
}
.menu {
    background-color: var(--noir);
    color: var(--blanc);
    padding: 10px 0;           
    width: 100%;
    display: flex;
    justify-content: center;   
    gap: 15px;                 
}
.menu a {  
    color: var(--blanc);
    text-decoration: none;
    text-transform: uppercase;
    letter-spacing: 2px;
    font-size: 18px;
    padding: 10px 15px;        
    transition: all 0.3s;      
    font-family: sans-serif;
}
.menu a:hover {
    text-decoration: underline;
    text-decoration-thickness: 3px;
    text-underline-offset: 5px; 
}
footer {
    background-color: var(--noir);
    color: var(--blanc);
    font-family: sans-serif;
    padding: 10px;
    display: flex;
    align-items: center;
    justify-content: center;
}

/*---Accueil---*/
.banniere {
    display: flex;
    width: 100%;
    height: auto;
}
.h1_accueil h1 {
    text-align: center;
    font-size: 50px;
    margin-top: 20px;
}
.h2_accueil {
    text-align: center;
    margin: 0 30px;
}

.h2_accueil .citation {
    font-size: 20px !important;
    margin: 20px 0;
}

.h2_accueil .auteur-citation {
    text-align: right !important;
    margin-right: 30px;
    margin-top: 10px;
}